<nav class="nav navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand">
        <img class="avatar" alt="Avatar Image" src="https://i.imgur.com/QJBLaRo.png" alt="" width="30" height="30">
    </a>

    <a class="navbar-brand">{{userInfo.nickName}}</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link text-muted" (click)="openDialogChanguePassword()">Cambiar Contraseña <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()" type="submit">Cerrar session</button>
    </div>
</nav>
<div class="margin mt-4 container">
    <input type="text" class="forms-control" placeholder="Buscar.." [(ngModel)]="filterpost" name="filterpost" />
    <mat-tab-group>
        <mat-tab *ngIf="userInfo.typeAccount" label="Usuarios">
            <button class="btn" (click)="openDialogUserInfo() ">
                <img class="avatar" alt="Avatar Image" src="https://i.imgur.com/biLrwKM.png" alt="" width="25"
                    height="25">
            </button>

            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">NickName</th>
                        <th scope="col">N# Identificacion</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Tipo de Cuenta</th>
                        <th scope="col">Activo</th>
                        <td> Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList">
                        <td>{{user.id}}</td>
                        <td>{{user.nickName}}</td>
                        <td>{{user.userIdentification}}</td>
                        <td>{{user.fullNames}}</td>
                        <td *ngIf="user.typeAccount"> Administrador</td>
                        <td *ngIf="!user.typeAccount"> Cliente</td>
                        <td *ngIf="user.active"> Activo</td>
                        <td *ngIf="!user.active"> Inactivo</td>
                        <td>
                            <button class="btn" (click)="remove(''+user.id ,1) ">
                                <img class="avatar" alt="Avatar Image" src="https://i.imgur.com/WGRowfs.png" alt=""
                                    width="25" height="25">
                            </button>
                            <button class="btn" (click)="onSwitch(user.id)">
                                <img class="avatar" alt="Avatar Image" src="https://i.imgur.com/yyY3xeH.png" alt=""
                                    width="25" height="25">
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab *ngIf="userInfo.typeAccount" label="Clientes ">

            <button class="btn" (click)="openDialogClient() ">
                <img class="avatar" alt="Avatar Image" src="https://i.imgur.com/biLrwKM.png" alt="" width="25"
                    height="25">
            </button>


            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombres </th>
                        <th scope="col">N# Celular</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Genero</th>
                        <th scope="col">email</th>
                        <th scope="col">Fecha de Nacimiento</th>
                        <th scope="col">tipo de associado</th>
                        <td> Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let clients of clientList">
                        <td>{{clients.id}}</td>
                        <td>{{clients.names}}</td>
                        <td>{{clients.phone_number}}</td>
                        <td>{{clients.address}}</td>
                        <td>{{clients.gender}}</td>
                        <td>{{clients.email}}</td>
                        <td>{{clients.birthday | date: 'shortDate'}}</td>
                        <td>{{clients.assosiade_id}}</td>

                        <td>
                            <button class="btn" (click)="remove(''+clients.id,2)">
                                <img class="avatar" alt="Avatar Image" src="https://i.imgur.com/WGRowfs.png" alt=""
                                    width="25" height="25">
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>

        </mat-tab>
        <mat-tab label="Simulador ">
            <app-simulator></app-simulator>
        </mat-tab>
    </mat-tab-group>




</div>