<div class=" center">
    <main class="login-box ">
        <form #formLogin class="login" (ngSubmit)="onLogin()">
            <img class="avatar" alt="Avatar Image" src="https://i.imgur.com/b70I4v7.png" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <label for="userNmae">nickName</label>
                <input type="text" class="form-control" id="floatingInput" placeholder="nickName11">
            </div>
            <div class="form-floating">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
            </div>


            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </form>
    </main>

</div>